{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["react-app", "airbnb", "prettier"],
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": "error"
  },
  "plugins": ["prettier"]
}
