* {
  font-family: 'Slabo 13px', serif;
  color: #333333;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #eeeeee;
}

article {
  max-width: 1440px;
  margin: auto;
  position: relative;
}

h1 {
  font-family: 'Ultra', serif;
  font-size: 60px;
  font-weight: normal;
}

.chart-container {
  width: 33%;
  position: absolute;
  top: 0;
  left: 0;
}

table {
  border-collapse: collapse;
  margin-bottom: 100px;
  width: 66%;
  position: absolute;
  top: 0;
  right: 0;
}

th {
  border-bottom: 1px solid #dddddd;
}

td {
  text-align: left;
  padding: 5px 20px;
  cursor: pointer;
}

td:first-child {
  text-align: center;
}

td:nth-child(2) {
  white-space:nowrap;
}

tr:nth-child(odd) td {
  background-color: #dddddd;
}

.link-button {
  text-decoration: none;
  font-weight: bold;
  color: rgb(33, 83, 105);
}