* {
  font-family: 'Slabo 13px', serif;
  color: #333333;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #eeeeee;
}

article {
  max-width: 1440px;
  margin: auto;
  position: relative;
}

h1 {
  font-family: 'Ultra', serif;
  font-size: 60px;
  font-weight: normal;
}