table {
  border-collapse: collapse;
  margin-bottom: 100px;
  width: 100%;
  position: absolute;
  top: 70vw;

  th {
    border-bottom: 1px solid #dddddd;
    cursor: pointer;
  }

  td {
    text-align: left;
    padding: 5px 20px;
    cursor: pointer;

    &:first-child {
      text-align: center;
    }

    .linkButton {
      text-decoration: none;
      font-weight: bold;
      color: rgb(33, 83, 105);
    }
  }

  tr:nth-child(odd) td {
    background-color: #dddddd;
  }

  @media screen and (max-width: 1023px) {
    th,
    td {
      padding: 15px 5px;
      font-size: 0.9rem;
    }

    th:last-child,
    td:last-child {
      display: none;
    }
  }

  @media screen and (min-width: 1024px) {
    width: 66%;
    top: 170px;
    right: 0;

    td:nth-child(2) {
      white-space: nowrap;
    }
  }
}
